@model UpdateProductDto

<form method="post" asp-action="DeletePost" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />

    <div class="border p-3 mt-4">
        <div class="row pb-4">
            <h2> Delete Product</h2>
            <hr />
        </div>

    </div>
    <!--To Show All Erorr Valid -->
    <div asp-validation-summary="All"></div>
    <div class="mb-3">
        <label asp-for="Title"></label>
        <input asp-for="Title"disabled class="form-control" />
        <!--Valid message-->
        <span asp-validation-for="Title" class="text-danger"></span>

    </div>
   
    <button type="submit" class="btn btn-primary" style="width:150px">Delete</button>
    <a asp-controller="Product" asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>

<!-- Client Validation -->
@*@section Scripts{
        @{
            <partial name="_ValidationScriptsPartial" />
        }
    }*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}